<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Wondercode Route City:route editor</title>
<link rel="stylesheet" href="resources/css/style.css">
<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCHXI39kmvzGuad-RXq5fyVTUKMro4ZIdQ"></script>
  <script type="text/javascript" src="js/maps.js"></script>
</head>
<body ng-app="mapsApp">
<div ng-controller="MapCtrl">
    <div id="map"></div>
<div id="logo">
  <h1>Route City</h1>
  <h4>Route editor</h4>
</div>
<div id="list_container">
  <div class="repeat" id="name">
    <input type="text" id="nR" placeholder="Nombre ruta" ng-model="nombreRuta"/><input type="button" ng-click="guardar()" value="Guardar">
  </div>
    <div class="repeat" data-ng-repeat="marker in markers" ng-click="clickElemento($index)">
<img src="resources/img/marker.png"/>
         Punto {{$index+1}}
    <div class="options">
      <div class="delete"><input type="button" ng-click="delete($index)" value="Eliminar"/></div>
      <div class="duplicate"><input type="button" ng-click="duplicate($index)" value="Duplicar"/></div>
    </div>
    </div>
    <input id="machete" type="button" ng-click="prueba()" value="Agregar"/>
    <input ng-click="getNodes()" type="button" value="nodes"/>
    <input ng-click="verRecorrido()" type="button" value="ver"/>
    <input ng-click="verRuta()" type="button" value="ver ruta"/>
</div>
</div>
<a id="a"></a>
</body>
</html>
