@font-face {
   font-family: Sawasdee;
   font-style: normal;
   font-weight: normal;
   src: url(fonts/Sawasdee.ttf);
}
body{
  font-family: "Sawasdee";
}
#map{
  position:absolute;
  top:0%;
  left:20%;
  width:80%;
  height:100%;
}
#logo{
  position:absolute;
  background: #160c27;
  top:0%;
  left:0%;
  height: 20%;
  width:20%;
}
#list_container{
  position:absolute;
  top:20%;
  left:0%;
  height: 80%;
  width:20%;
  background: #fff;
  overflow:scroll;
}
.repeat{
position: relative;
width:100%;
height:40px;
background:#fff;
padding-top:10px;
cursor:pointer;
transition:all ease 0.4s;
}
.repeat:hover{
  background:#ff643c;
  color: #fff;
}
.repeat:hover a{
  color:#fff;
}

.repeat img{
 height:20px;
 width:20px;
}
a{
color:#2d2d2d;
text-decoration:none;
}
#machete{
  display: none;
}
.options{
  position:absolute;
  top:10px;
  right:0%;
}
.delete,.duplicate{
  position:relative;
  float:left;
}
h1{
  text-align: center;
}
h4{
  padding-right: 15px;
  text-align: right;
}
h1,h4{
  color:#fff;
}
#a{
  display: none;
}
#name input{
  position:relative;
  float:left;
}
#nR{
  width:120px;
}
